<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gidsale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FD5A0841DB82E3700B3DDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD5A09B1DB82E3800B3DDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD5A0A61DB82E3800B3DDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
